.fill-remaining-space {
    flex: 1 1 auto;
}

.content-container {
    display: grid;
    grid-template-columns: 75% 25%;

    .form {
        grid-column: 1 / 1;
    }

    .img-dog {
        grid-column: 2 / 2;
        display: block;
        max-width: 100%;
    }
}

