<mat-toolbar>
  <span>AngularDogs</span>
  <span class="fill-remaining-space" color="accent"></span>
</mat-toolbar>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div class="content-container">
    <div class="form">
        <h3>Current Dog: {{ dogName }}</h3>
        <h3>Current Dog Owner: {{ ownerName }}</h3>
      
        <input type="text" [(ngModel)]="dogName" name="name" placeholder="Dog Name"/>
        <input type="text" [(ngModel)]="dogWeight" name="weight" placeholder="Dog Age" />
        <input type="text" [(ngModel)]="ownerName" name="owner" placeholder="Owner" />
    </div>

    <img class="img-dog" src="{{ imageUrl }}" />
    
  </div>
  