<div class="cards-container" layout-wrap layout="row">
    <mat-card flex="30" *ngFor="let dog of dogs; let idx = index" class="dog-card">
        <mat-card-header>
          <mat-card-title><h3>{{ idx + 1 }} - {{ dog.name }}</h3></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Weight:</strong> {{ dog.weight }}</p>
          <p><strong>Birthdate:</strong> {{dog.birthDate | date: dateFormat}}</p>
          <p><strong>Owner:</strong> {{ dog.owner }}</p>
          <div class="button-row">
              <button mat-button color="primary" (click)="removeDog(idx)">Remove</button>
              <button mat-button (click)="toggleDate()">
                <span *ngIf="dateFormat == 'shortDate'">+</span>
                <span *ngIf="dateFormat == 'fullDate'">-</span>
              </button>
          </div>
          
        </mat-card-content>
      
      </mat-card>
</div>

