<div class="content-container">
    <div class="form">
        <h3>Current Dog: {{ dogName }}</h3>
        <h3>Current Dog Owner: {{ ownerName }}</h3>
        <mat-form-field>
            <input matInput [(ngModel)]="dog.name" placeholder="Dog Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="dog.weight" placeholder="Dog Weight">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="dog.owner" placeholder="Owner Name">
          </mat-form-field>
          
          <div *ngIf="dogWeight < 10" class="validation-error">{{dogName}} is underweight</div>  
          
          <button mat-button (click)="submitDog()" color="primary">Submit</button>
    </div>

    <img class="img-dog" src="{{ imageUrl }}" />
    
  </div>